<div class="lnd-section early-payday">
  <div class="ep-rec"></div>
  <div class="ep-content">
    <div class="ep-content-txt">
      <h2 class="lnd-section-header">
        {{translate "EARLY_PAYDAY.TITLE" lang}}
      </h2>
      <p class="lnd-section-sub">
        <span> {{translate "EARLY_PAYDAY.HIGHLIGHT" lang}}</span>
        {{translate "EARLY_PAYDAY.SUB_TITLE" lang}}
      </p>
    </div>
    <img
      id="calendar-graphic"
      alt="Calendar showing early payday"
      src="{{calendarImg lang}}"
    />
  </div>
</div>