<!-- CTA - flexibility -->
<div class="lnd-section cta-flexibility">
  <div class="cta-banner">
    <div class="cta-banner-content">
      <div class="cta-banner-content-text">
        <h4 class="cta-banner-title">
          {{translate "FLEXIBILITY_CTA.TITLE" lang}}
        </h4>
        <p class="cta-banner-sub">
            {{translate "FLEXIBILITY_CTA.SUB_TITLE" lang}}
        </p>
      </div>
      <a
        href="https://app.finn-app.com/"
        class="btn btn-pill default join-list-btn"
        data-version="v2"
        target="_blank"
      >
        {{translate "SIGN_UP" lang}}
        <i class="icon-right mdi mdi-arrow-right-thin"></i>
      </a>
    </div>

    <span id="decor-bg-circle"></span>
    <span id="decor-md-circle"></span>
    <span id="decor-sm-top"></span>
    <span id="decor-sm-btm"></span>
    <img
      id="banner-edge"
      src="/finn-landing/assets/vectors/cta-banner-edge.svg"
    />
  </div>
</div>