<!-- CTA - level up -->
<div class="lnd-section cta-lvl-up">
  <div class="cta-banner">
    <div class="cta-banner-content">
      <h4 class="cta-banner-title">
        {{translate "LEVEL_UP_CTA.TITLE" lang}}
      </h4>
      <p class="cta-banner-sub">
        {{translate "LEVEL_UP_CTA.SUB_TITLE" lang}}
      </p>
      <a
        href="https://app.finn-app.com/"
        class="btn btn-pill default join-list-btn"
        data-version="v2"
        target="_blank"
      >
        {{translate "SIGN_UP" lang}}
        <i class="icon-right mdi mdi-arrow-right-thin"></i>
      </a>
    </div>
  </div>

  <img
    id="graphic-banner-steps"
    src="/finn-landing/assets/vectors/graphic-level-up.svg"
  />
</div>