<div class="lnd-section safe-connect">
  <div class="sc-content">
    <img
      class="sc-graphic"
      src="/finn-landing/assets/images/finn-secure.png"
      alt="Safe and secure"
    />

    <div class="sc-content-txt">
      <img
        id="safe-connect-icon"
        alt="Safely connect icon"
        src="/finn-landing/assets/images/icon-safe-connect.png"
        height="64"
      />
      <h2 class="lnd-section-header">
        {{translate "LINK_ACCOUNT.TITLE" lang}}
      </h2>
      <p class="lnd-section-sub">
        {{translate "LINK_ACCOUNT.SUB_TITLE" lang}}
      </p>
    </div>
  </div>
</div>