<!-- landing page - low interest fees -->
<div class="lnd-section low-interest">
  <div class="li-content">
    <img
      class="li-graphic"
      src="/finn-landing/assets/images/finn-no-interest-{{lang}}.webp"
      alt="Finn mascot happy"
    />

    <div class="li-content-txt">
      <img
        id="low-interest-icon"
        alt="Low intrest cash icon"
        src="/finn-landing/assets/images/icon-money.png"
        height="64"
      />
      <h2 class="lnd-section-header">{{translate
          "LOW_INTEREST.TITLE"
          lang
        }}</h2>
      <p class="lnd-section-sub">
        {{translate "LOW_INTEREST.SUB_TITLE" lang}}
      </p>
    </div>
  </div>
</div>