<!-- Nav -->
<div class="nav-container">
  <div class="content">
    <div class="brand">
      <a href="/" class="brand-link">
        <img
          alt="Finn logo"
          height="27"
          src="/finn-landing/assets/vectors/finn-color.svg"
        />
      </a>
    </div>

    <a
      href="https://app.finn-app.com/"
      class="btn btn-pill default join-list-btn header-btn"
      data-version="v2"
      target="_blank"
    >
      {{translate "SIGN_UP" lang}}
      <i class="icon-right mdi mdi-arrow-right-thin"></i>
    </a>
  </div>
</div>