<div class="lnd-section selling-points">
  <div class="sp-content">
    <h2 class="lnd-section-header">
      <span class="header-highlight">Pinaka mabilis, mura</span><br />
      &amp;  at laging maaasahan
    </h2>

    <div class="sp-grid">
      <div class="sp-grid-item">
        <h1 class="sp-item-heading">
          0%
        </h1>

        <div class="sp-item-details">
          <h4 class="sp-item-title">
            Interest Charge
          </h4>
          <span class="sp-item-desc">
             Walang interest, kahit kailan
          </span>
        </div>
      </div>
      <div class="sp-grid-item">

        <h1 class="sp-item-heading">
          $0
        </h1>

        <div class="sp-item-details">
          <h4 class="sp-item-title">
            Hidden Fee
          </h4>
          <span class="sp-item-desc">
            Malinaw ang presyo; walang hidden fees
          </span>
        </div>
      </div>
      <div class="sp-grid-item">

        <h1 class="sp-item-heading">
          1
        </h1>

        <div class="sp-item-details">
          <h4 class="sp-item-title">
            Araw na Withdrawal
          </h4>
          <span class="sp-item-desc">
             Same day papasok ang pera sa iyong account
          </span>
        </div>
      </div>
    </div>

    <a
      href="https://app.finn-app.com/"
      class="btn btn-pill accent join-list-btn"
      data-version="v2"
      target="_blank"
    >
      Alamin ang mga detalye
    </a>
  </div>
</div>