<div class="lnd-section testimonials-ph">
  <div class="testimonials-content">
    <h2 class="lnd-section-header">
      Makarinig mula sa
      <span class="header-highlight">60,000+ happy customers</span>
      ng Finn
    </h2>

    <div class="testimonial-slider">
      <div class="ts-item">
        <div class="ts-item-content">
          <img src="/finn-landing/assets/images/reviewers/reviewer_1.webp" alt="" class="ts-user-img" />
          {{> rating-stars rating=4.5}}
          <h6 class="ts-user-name">
            Angela
          </h6>
          <p class="ts-user-testimony">
            Sobrang laki ng tulong ng Finn sa buhay ko at ng buong pamilya ko.
            Nakakatulong talaga yung salary advance service pag kailangan ko ng
            konting extra cash para sa pambili ng mga gamot at grocery.
          </p>
        </div>
      </div>

      <div class="ts-item">
        <div class="ts-item-content">
          <img src="/finn-landing/assets/images/reviewers/reviewer_2.webp" alt="" class="ts-user-img" />
         {{> rating-stars rating=4}}
          <h6 class="ts-user-name">
            Gabriel
          </h6>
          <p class="ts-user-testimony">
            Salamat sa Finn unti-unti kong natutupad ang mga simpleng pangarap
            ng pamilya ko. Hindi na ako palaging namomroblema pag dumadating ang
            mga bayarin
          </p>
        </div>
      </div>

      <div class="ts-item">
        <div class="ts-item-content">
          <img src="/finn-landing/assets/images/reviewers/reviewer_3.webp" alt="" class="ts-user-img" />
          {{> rating-stars rating=5}} 
          <h6 class="ts-user-name">
            Hannah
          </h6>
          <p class="ts-user-testimony">
            Dahil sa Finn, mas kaya ko ng i-manage ang aking mga finances 'di
            katulad ng dati na nanghihiram at malalaki pa yung mga interest
            rates. Sobrang mas okay kung mag-advance ng sahod
          </p>
        </div>
      </div>

      <div class="ts-item">
        <div class="ts-item-content">
          <img src="/finn-landing/assets/images/reviewers/reviewer_4.webp" alt="" class="ts-user-img" />
          {{> rating-stars rating=5}}
          <h6 class="ts-user-name">
            Nicole
          </h6>
          <p class="ts-user-testimony">
            Masaya ako sa Finn dahil ang bilis at napakadali lang ng application
            at nakukuha ko agad yung cash sa loob ng isang araw. Sana dumami ang
            makagamit ng Finn para maitawid ang mga pang-araw-araw na gastusin
          </p>
        </div>
      </div>
    </div>
  </div>
</div>