<!-- Content Security -->
<div class="lnd-section content-security">
  <div class="content-security-header">
    <h2 class="lnd-section-header cs-title">
      ข้อมูลส่วนตัวของคุณจะถูกเก็บเป็นความลับ
      <span>ส่วนตัว</span>
    </h2>
    <p class="lnd-section-sub cs-header-sub">
      เราใช้การเข้ารหัส 256
      บิตเพื่อปกป้องข้อมูลของคุณและมั่นใจได้ว่าเราจะไม่นำส่ง/
      ขายข้อมูลของคุณให้กับบุคคลที่สามเด็ดขาด
    </p>
  </div>

  <div class="content-security-content">
    <div class="cs-content-item">
      <img
        src="/finn-landing/assets/vectors/cs-database-lock.svg"
        alt="Protected Data"
        class="cs-item-icon"
      />
      <div class="cs-content-item-text">
        <h5 class="cs-item-text-title">
          ข้อมูลจะได้รับการคุ้มครองความปลอดภัยขั้นสูง
        </h5>
        <p class="cs-item-text-sub">
          เรารักษาความปลอดภัยและเคารพข้อมูลทางการเงินของคุณโดยการรวบรวม จัดการ
          และใช้งานอย่างมีความรับผิดชอบ ไม่รั่วไหล
          ไม่ขายต่อให้บุคคลภายนอกเด็ดขาด
        </p>
      </div>
    </div>

    <div class="cs-content-item">
      <img
        src="/finn-landing/assets/vectors/cs-folder-key-network.svg"
        alt="Protected Data"
        class="cs-item-icon"
      />
      <div class="cs-content-item-text">
        <h5 class="cs-item-text-title">การเข้ารหัสแบบครบวงจร</h5>
        <p class="cs-item-text-sub">
          เราใช้เทคโนโลยีเดียวกับที่ธนาคารใช้ในการรักษาความปลอดภัยข้อมูลของคุณ
        </p>
      </div>
    </div>
  </div>
</div>