<div class="ftr-banner">
  <img
    alt="Footer squigly grpahic"
    src="/finn-landing/assets/images/ftr-sqiggly.png"
    class="fb-graphic"
  />
  <div class="container fb-content">
    <h3 class="fbc-header">การเบิกเงินเดือนล่วงหน้า!</h3>
    <p class="fbc-desc">
      เบิกเงินเดือนล่วงหน้าได้สูงสุด 4,000 บาท รับเงินด่วนภายใน 15 นาที
      หักชำระคืนอัตโนมัติวันเงินเดือนออก
      โดยเชื่อมต่อบัญชีธนาคารของคุณอย่างปลอดภัย พอกันทีกับวงจร
      “สิ้นเดือน…เหมือนสิ้นใจ”
      จะดีกว่ามั้ยถ้าคุณกำหนดวันเบิกเงินเดือนล่วงหน้าได้ตามใจ
      …รอเงินเข้าบัญชีเดือนละครั้งคงยังไม่พอ หากมีเหตุให้ต้องโอนไวในทุกวัน
    </p>
    <a
      href="https://app.finn-app.com/"
      id="form-redirect"
      class="btn btn-pill default join-list-btn"
      data-version="v2"
      target="_blank"
    >
      สมัคร
      <i class="icon-right mdi mdi-arrow-right-thin"></i>
    </a>
  </div>
</div>