<!-- Supported Banks -->
<div class="lnd-section supported-banks">
  <h2 class="lnd-section-header supported-banks-header">ธนาคารที่รองรับ</h2>

  <div class="supported-banks-content">
    <div class="bank-item" id="bank-1">
      <img
        src="/finn-landing/assets/vectors/banks/scb.svg"
        alt="SCB Bank"
        class="bank-item-logo"
      />
      <span class="bank-item-title">ธนาคารไทยพาณิชย์</span>
    </div>

    <div class="bank-item" id="bank-2">
      <img
        src="/finn-landing/assets/vectors/banks/farmers-bank.svg"
        alt="Kasikornbank"
        class="bank-item-logo"
      />
      <span class="bank-item-title">ธนาคารกสิกร</span>
    </div>

    <div class="bank-item" id="bank-3">
      <img
        src="/finn-landing/assets/vectors/banks/bangkok.svg"
        alt="Bangkok Bank"
        class="bank-item-logo"
      />
      <span class="bank-item-title">ธนาคารกรุงเทพ</span>
    </div>

    <div class="bank-item" id="bank-4">
      <img
        src="/finn-landing/assets/vectors/banks/ayudhya.svg"
        alt="Bank of Ayudhya"
        class="bank-item-logo"
      />
      <span class="bank-item-title">ธนาคารกรุงศรีฯ</span>
    </div>

    <div class="bank-item" id="bank-5">
      <img
        src="/finn-landing/assets/vectors/banks/ktb.svg"
        alt="Krungthai Bank"
        class="bank-item-logo"
      />
      <span class="bank-item-title">ธนาคารกรุงไทย</span>
    </div>
  </div>
</div>